/* https://stackoverflow.com/questions/66820635/how-to-make-a-toggle-switch-with-embedded-text */
/* .favorite-toggle {
    background-color: rgb(217,217,217);
    padding: 0.3vh 0vw;
    margin-left : 3vw;
    margin-top : 1vh;
    margin-bottom : 1vh;
    border-radius: 30px;
    width : 25.5vw;
  }
  
  .favorite-toggle [name="toggle"] {
    display: none
  }

  
  .favorite-toggle input[type="radio"]+label {
    background-color: rgb(217,217,217);
    color: rgb(177,177,177);
    padding: 0.7vh 2.5vw 0.6vh 2.5vw;
    border-radius: 30px;
    cursor: pointer;
    user-select: none;
    width : 15vw;
 
  }
  
  .favorite-toggle input[type="radio"]:checked+label {
    background-color: white;
    color: #00000c;
    width : 12vw;
    box-shadow: 0vw 0.5vh 1vw rgb(147, 147, 147) 
  }
  

  #favorite-toggle-offline-radio {
    margin-right : 0.3vw;
  }

  #favorite-toggle-online-radio {
    padding-left : 1vw;
    padding-right : 1vw;
  } */


  
  .favorite-toggle {
    background-color: rgb(217,217,217);
    padding: 0.2rem 0vw 0.4rem 0vw;
    margin-left : 3vw;
    margin-top : 1vh;
    margin-bottom : 1vh;
    border-radius: 30vw;
    width : 9rem;
  }
  
  .favorite-toggle [name="toggle"] {
    display: none
  }

  
  .favorite-toggle input[type="radio"]+label {
    background-color: rgb(217,217,217);
    color: rgb(177,177,177);
    padding: .3rem 1rem ;
    border-radius: 30vw;
    cursor: pointer;
    user-select: none;
    font-size : .85rem;
  }
  

  .favorite-toggle input[type="radio"]:checked+label {
    background-color: white;
    padding: .55rem 1rem ;
    color: #00000c;
    box-shadow: 0vw 0.5vh 1vw rgb(147, 147, 147) ;

  }
  
  #favorite-toggle-offline-radio {
    margin-right : 0.5vw;
  }
 