<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Floating Action Button</title>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
	<link rel="stylesheet" href="fab.css">
</head>
<body>
	<h1>Floating Action Button (FAB) - Demo</h1>
	<div class="fab-container">
		<div class="fab fab-icon-holder">
			<i class="fas fa-question"></i>
		</div>

		<ul class="fab-options">
			<li>
				<span class="fab-label">Documentation</span>
				<div class="fab-icon-holder">
					<i class="fas fa-file-alt"></i>
				</div>
			</li>
			<li>
				<span class="fab-label">Video Tutorials</span>
				<div class="fab-icon-holder">
					<i class="fas fa-video"></i>
				</div>
			</li>
			<li>
				<span class="fab-label">Live Chat</span>
				<div class="fab-icon-holder">
					<i class="fas fa-comments"></i>
				</div>
			</li>
			<li>
				<span class="fab-label">Feedback</span>
				<div class="fab-icon-holder">
					<i class="fas fa-comment-alt"></i>
				</div>
			</li>
		</ul>
	</div>
</body>
</html>