input[id='cb']{
  display:none;
}

.gm-nav-main{
  /* Property 1=Default */

width: 60px;
height: 60px;
position: absolute;
right: 5%;
bottom: 5%;

background: url("../../../public/logoimg.png"), #FFFFFF;
background-repeat: no-repeat;
background-size : 60%, 60%;
background-position: center;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 50%;
}

.gm-nav-home {
  /* 플로팅 홈 버튼 */

width: 33px;
height: 33px;

/* Ellipse 13 */

position: absolute;
right: 25%;
bottom: 5%;

background: #FFFFFF;
border-radius: 50%;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}


.gm-nav-check-list {
  /* 플로팅 체크리스트 버튼 */

width: 33px;
height: 33px;

/* Ellipse 13 */

position: absolute;
right: 20%;
bottom: 13%;

background: #FFFFFF;
border-radius: 50%;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}


.gm-nav-fav {
  /* 플로팅 즐겨찾기 버튼 */

width: 33px;
height: 33px;

/* Ellipse 13 */

position: absolute;
right: 5%;
bottom: 16%;

background: #FFFFFF;
border-radius: 50%;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}